[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
grpcio = "*"
ed25519 = "*"
base58 = "*"
google-api = "*"
googleapis-common-protos = "1.6.0"

[dev-packages]
grpcio-tools = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
yapf = "*"
codecov = "*"

[requires]
python_version = "3.7"
