[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
grpcio = "*"
ed25519 = "*"
base58 = "*"
pytest-xdist = "*"

[dev-packages]
grpcio-tools = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
